<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@400;700&display=swap" rel="stylesheet">
    <title>Restaurant</title>
</head>
<body>
    <div class="wrapper">
        <div class="nav">
        <input type="checkbox" id="nav-check">
          <div class="nav-header">
              <div class="nav-title">
                <span>E</span>
                <span>s</span>
                <span>t</span>
                <span>!</span>
                <span>C</span>
                <span>a</span>
                <span>f</span>
                <span>e</span>
              </div>
            </div>
            <div class="nav-btn">
              <label for="nav-check">
                  <span></span>
                  <span></span>
                  <span></span>
              </label>
            </div>
          <div class="nav-links">
            <a href="#">Home</a>
            <a href="#">Menu</a>
            <a href="#">contact</a>
            <a href="#">admin</a>
          </div></div>
    </div>
    <div class="video-bg">
   <video src="videos/Roast - 11620.mp4" type="video/mp4" autoplay muted loop></video>
   <div class="effects"></div>
   <div class="video-bg__content">
      <h1>Welcome</h1>
   </div>
</div>
    <div class="why">
        <div class="why__title">
            Why this restaurant
        </div>
        <div class="why__content">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, ad quas omnis molestias doloribus magni, labore, at sequi sunt inventore iste asperiores? Error tempore nemo id odio enim qui corporis beatae iure. Aliquid quos sit, ea voluptatem consequatur, vel iusto? Ad animi totam esse incidunt pariatur vero excepturi reiciendis libero non aut minima iusto sapiente, assumenda exercitationem praesentium nisi quos, ipsam tempora neque consequuntur in, dolores? Itaque voluptatibus inventore id voluptas iusto, architecto! Corrupti possimus esse tempore enim id veniam saepe voluptate temporibus quaerat, adipisci, aspernatur dolores atque soluta praesentium quas, incidunt doloribus facilis nobis, laboriosam. Tempore quidem sequi molestias.
        </div>
        <div class="author">
            Jamshid Abdukadirov
        </div>
    </div>
    <span class="decor"></span>
    <div class="menu_info">About us</div>
  <div class="container">
    <div class="heading">
    </div>
    <div class="row">
      <div class="card">
        <div class="card-header1">
        </div>
        <div class="card-body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia tempore reiciendis, vel, sequi.
          </p>
          <a href="menu.html" class="btn">Read more</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header2">
        </div>
        <div class="card-body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia tempore reiciendis, vel, sequi.
          </p>
          <a href="menu.html" class="btn">Read more</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header3">
        </div>
        <div class="card-body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia tempore reiciendis, vel, sequi.
          </p>
          <a href="menu.html" class="btn">Read more</a>
        </div>
      </div>
      <div class="card">
        <div class="card-header4">
        </div>
        <div class="card-body">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi neque molestiae eius explicabo mollitia tempore reiciendis, vel, sequi.
          </p>
          <a href="menu.html" class="btn">Read more</a>
        </div>
      </div>
    </div>
  </div>
            <div class="footer">
      <div class="block">
        <div class="h3">&copy; 2020 Company name</div>
        <a href="#">Home</a>
        <a href="#">Menu</a>
        <a href="#">Contact</a>
      </div>
    </div>
</body>
</html> 